.footer__column-link {
  margin: 0;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity .3s linear;
  cursor: pointer;
}

.footer__column-link:hover {
  opacity: .5;
}
